<p>Welcome to FRC GAH (Game Announcer Helper)!</p>
<p>Access an event's match list through the format &lt;URL&gt;/event/&lt;event key&gt;.
<p>Or, if you know the specific match key, &lt;URL&gt;/match/&lt;match key&gt;.